* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

header {
    background-color: #1e1e1e;
    padding: 20px 40px;
    border-bottom: 2px solid #d32f2f;
}

header h1 {
    margin-bottom: 15px;
}

.pesquisar input {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

main {
    padding: 40px;
}

.teams h2 {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}